# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\Workspace\UDEMY_distributed-systems-and-cloud-computing-with-Java\dscc-tf-idf\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
